<header class="state-header">
  <div class="container">
    <div class="row">
      <div class="col-md-2 col-md-offset-1">
        <div class="state-img" style="">
        </div>
      </div>
      <div class="col-md-9">
        <h3 class="state-name"><%=t("states.#{params[:state]}")%></h3>
      </div>
    </div>
  </div>
</header>
<div class="container">
  <div class="row">
    <div class="col-md-12 candidate-list">
      <% if @presidents.any? %>
        <h3>Presidents</h3>
        <ul>
          <% @presidents.each do |president| %>
            <li>
              <%=link_to president do%>
                <div class="box-image" style="background-image: url(<%= president.image.url %>)"></div>
                <span class="name"><%=president.name%></span>
              <% end %>
            </li>
          <% end %>
        </ul>
      <% end %>

      <% previous_candidate = nil %>

      <% @candidates.each do |candidate| %>
        <% if previous_candidate.try(:political_office) != candidate.political_office %>
          <%='<ul>'.html_safe unless previous_candidate.nil? %>

          <h3><%=t("candidates.political_office.#{candidate.political_office}")%></h3>

          <ul>
        <% end %>

        <li>
          <%=link_to candidate do%>
            <div class="box-image" style="background-image: url(<%= candidate.image.url %>)"></div>
            <span class="name"><%=candidate.name%></span>
          <% end %>
        </li>

        <% previous_candidate = candidate %>
      <% end %>

      </ul>
    </div>
  </div>
</div>
