<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="page-header">
      <h1><%= t('.search-results', search: params[:search]) %></h1>
    </div>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <ul class="media-list">
      <% @candidates.each do |candidate| %>
        <li class="media">
          <%= link_to candidate, :class => 'pull-left' do %>
           <div class="candidate-list-img" style="background-image: url(<%= candidate.image.url %>)"></div>
          <% end %>

          <div class="media-body">
            <h3 class="media-heading text-uppercase">
              <%= link_to candidate.name, candidate %>
            </h3>
            <span class="text-uppercase"><%=t("candidates.political_office.#{candidate.political_office}")%></span>
          </div>
        </li>
      <% end %>
    </ul>
  </div>
</div>
<div class="row">
  <div class="col-md-10 col-md-offset-1">
    <div class="text-center">
      <%= paginate @candidates %>
    </div>
  </div>
</div>
