<div class="candidate-header">
  <div class="container">
    <div class="col-md-2">
      <div class="candidate-img" style="background-image: url(<%= @candidate.image.url %>)">
      </div>
    </div>
    <div class="col-md-6">
      <h1>
        <%= @candidate.name %>
        <br>
        <span><%=t("candidates.political_office.#{@candidate.political_office}")%></span>
      </h1>
    </div>
    <div class="col-md-4">
      <%= link_to t('.add-promise'), new_candidate_promise_path(@candidate) , title: t('.add-promise'),
        class: 'add-candidate' %>
    </div>
  </div>
</div>

<div class="container">
  <div class="row candidate-info">
    <div class="col-md-12">
      <div class="panel panel-lemon">
        <div class="panel-heading text-uppercase">
          <%= t('.info.about.title') %>
        </div>
        <div class="panel-body">
          <dl class="dl-horizontal">
            <dt><%= t('.info.about.name') %>:</dt>
            <dd><%= @candidate.name %></dd>
            <dt><%= t('.info.about.political_party') %>:</dt>
            <dd><%= @candidate.political_party.name %></dd>
          </dl>
          <p class="bio"><%= @candidate.biography %></p>
        </div>
      </div>
    </div>
  </div>
  <div class="row candidate-proposals">
    <div class="col-md-6">
      <div class="panel panel-blue">
        <div class="panel-heading text-lowercase">
          <%= t('.promises.most-voted') %>
        </div>
        <div class="panel-body">
          <ul>
            <% @most_voted.each do |promise| %>
              <li class="<%=promise.status%>">
                <%= link_to promise.title,
                  candidate_promise_path(@candidate.id, promise.id) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
    <div class="col-md-6">
      <div class="panel panel-blue">
        <div class="panel-heading"><%= t('.promises.most-visualized') %></div>
        <div class="panel-body">
          <ul>
            <% @most_visualized.each do |promise| %>
              <li class="<%=promise.status%>">
                <%= link_to promise.title,
                  candidate_promise_path(@candidate.id, promise.id) %>
              </li>
            <% end %>
          </ul>
        </div>
      </div>
    </div>
  </div>
</div>

<div class="container">
  <div class="row candidate-promises-list">
    <div class="col-md-12">
    <h2 class="promises-list-title">Promises</h2>
      <ul>
        <li>
          <div class="promise row">
            <div class="promise-category col-md-2">
              <span class="category-label">road</span>
            </div>
            <div class="box-promise col-md-10">
              <div class="promise-icon"></div>
              <a href="#">
                <h4>Pavimentação da BR 114 no estado de Alagoas</h4>
                <p>
                  Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita.
                </p>
              </a>
            </div>
          </div>
        </li>
        <li>
          <div class="promise row">
            <div class="promise-category col-md-2">
              <span class="category-label">road</span>
            </div>
            <div class="box-promise col-md-10">
              <div class="promise-icon"></div>
              <a href="#">
                <h4>Pavimentação da BR 114 no estado de Alagoas</h4>
                <p>
                  Eiiitaaa Mainhaaa!! Esse Lorem ipsum é só na sacanageeem!! E que abundância meu irmão viuu!! Assim você vai matar o papai. Só digo uma coisa, Domingo ela não vai! Danadaa!! Vem minha odalisca, agora faz essa cobra coral subir!!! Pau que nasce torto, Nunca se endireita.
                </p>
              </a>
            </div>
          </div>
        </li>
      </ul>
    </div>
  </div>
</div>

<div class="container">
  <div class="row candidate-comments">
    <div class="col-md-12">
      <h4>Comments</h4>

      <div class="fb-comments" data-href="http://perfilpublico.r14.railsrumble.com" data-numposts="10" data-width="100%" data-colorscheme="light"></div>
    </div>
  </div>
</div>
