<!DOCTYPE html>
<html>
  <head>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%= content_for?(:title) ? yield(:title) : "Perfil Público" %></title>
    <meta name="description" content="<%= content_for?(:description) ? yield(:description) : "Perfilpublico" %>">
    <link href='http://fonts.googleapis.com/css?family=Roboto:400,100,900' rel='stylesheet' type='text/css'>
    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track' => true %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>

    <%= csrf_meta_tags %>
  </head>
  <body>

    <header class="header">
      <div class="container">
        <div class="row">
          <div class="col-md-12">
            <%= link_to root_url, class: "logo-header", title: "Perfil Público"  do %>
              <h1>
                <%= image_tag "logo.png" %>
              </h1>
            <% end %>
            <nav class="menu-nav">
              <ul>
                <li>
                  <%= link_to t('menu.about'), root_url , title: t('menu.about') %>
                </li>
                <li>
                  <%= link_to t('menu.contact'), root_url , title: t('menu.contact') %>
                </li>
              </ul>
            </nav>
          </div>
        </div>
      </div>
    </header>

    <div role="main" class="main-content">
      <%= yield %>
    </div>

    <footer class="footer">
      Made with ♥ by brazilian crazy guys
    </footer>

  </body>
</html>
