<div class="container">
  <%= simple_form_for([@candidate, @promise], :html => {:role => "form-horizontal"}) do |f| %>
    <%=f.association :category, :collection => Category.order(:name)%>

    <%=f.input :title%>

    <%=f.input :description%>

    <%=f.input :date%>

    <%=f.input :status, :collection => @promise.status_enum_i18n%>

    <%= f.button :submit, :class => "btn-primary" %>
  <% end %>
</div>