<header class="promise-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span class="name"><%=link_to @candidate.name, @candidate%></span> - promises</h2>
      </div>
    </div>
  </div>
</header>

<div class="content-promise">
  <div class="promise-title">
    <div class="container">
      <div class="row">
        <div class="category-icon col-md-1">
          <%= image_tag(@promise.category.image.url(:thumb)) unless @promise.category.image.nil? %>
          <%=@promise.category.name%>
        </div>
        <div class="promise-title-text col-md-11">
          <%=@promise.title%>
        </div>
      </div>
    </div>
  </div>
  <div class="promise-body container">
    <div class="row date-social">
      <div class="col-md-9 promise-info">
        <%=render 'status', :promise => @promise%>
      </div>
      <div class="col-md-3 date">
        <%=l @promise.date, format: :long%>
      </div>
    </div>
    <div class="row votation">
      <div class="col-md-6">
          <a href="#" class="votation-like">+</a>
          <span class="votation-label-like">Right</span>
      </div>
      <div class="col-md-6">
          <a href="#" class="votation-not-like">-</a>
          <span class="votation-label-not-like">debit</span>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%=simple_format @promise.description%>

        <div class="links">
          <h4>Links</h4>

          <% if @promise.links.any? %>
            <ul>
              <% @promise.links.each do |link| %>
                <li>
                  <%=link_to link.url, link.url%>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p><%=t('promises.no_links')%></p>
          <% end %>

        </div>
      </div>
    </div>
    <div class="row image-list">
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
      <div class="col-md-3">

      </div>
    </div>
  </div>
</div>
