<header class="promise-header">
  <div class="container">
    <div class="row">
      <div class="col-md-12">
        <h2><span class="name"><%=link_to @candidate.name, @candidate%></span> - promises</h2>
      </div>
    </div>
  </div>
</header>

<div class="content-promise">
  <div class="promise-title">
    <div class="container">
      <div class="row">
        <div class="category-icon col-md-1">
          <%= image_tag(@promise.category.image.url(:thumb)) unless @promise.category.image.blank? %>
          <%=@promise.category.name%>
        </div>
        <div class="promise-title-text col-md-11">
          <%=@promise.title%>
        </div>
      </div>
    </div>
  </div>
  <div class="promise-body container">
    <div class="row date-social">
      <div class="col-md-9 promise-info">
        <%=render 'status', :promise => @promise%>
      </div>
      <div class="col-md-3 date">
        <%=l @promise.date, format: :long%>
      </div>
    </div>
    <div class="row">
      <div class="col-md-12">
        <%=simple_format @promise.description%>

        <div class="links">
          <h4>Links</h4>

          <% if @promise.links.any? %>
            <ul>
              <% @promise.links.each do |link| %>
                <li>
                  <%=link_to link.url, link.url%>
                </li>
              <% end %>
            </ul>
          <% else %>
            <p><%=t('promises.no_links')%></p>
          <% end %>

        </div>
      </div>
    </div>

    <h4>What do you think about this proposal?</h4>

    <div class="row votation">
      <div class="col-md-6">
        <%=link_to '+', vote_up_candidate_promise_path(@candidate, @promise), :class => 'votation-like'%>
        <span class="votation-label-like">Approve <span class="badge"><%=@promise.up_votes.to_i%></span</span>
      </div>
      <div class="col-md-6">
        <%=link_to '+', vote_down_candidate_promise_path(@candidate, @promise), :class => 'votation-not-like'%>
        <span class="votation-label-not-like"><span class="badge"><%=@promise.down_votes.to_i%></span> Disapprove</span>
      </div>
    </div>


    <h4>Comments</h4>

    <div class="fb-comments" data-href="http://perfilpublico.r14.railsrumble.com" data-numposts="10" data-width="100%" data-colorscheme="light"></div>
  </div>
</div>
